<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pago</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<h1>Pago Realizado exitosamente</h1>
<script>
    const successMessage = [[${success}]];
    if (successMessage) {
        Swal.fire({
            title: '¡Éxito!',
            text: successMessage,
            icon: 'success',
            confirmButtonText: 'Aceptar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirigir al historial de pagos
                window.location.href = '/pagos/details/' + [[${pago.studentPaymentRecord.id}]];
            }
        });
    }
</script>
</body>
</html>
