body{
    overflow: hidden !important;
}

.btn-cancelar {
    background-color: #ff80804d !important;
    color: #931B1B !important;
    border: none;
    padding: 9px 24px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.btn-cancelar:hover {
    background-color: #E66262 !important;
}

.btn-guardar {
    background-color: #00AB99;
    color: white;
    border: none;
    padding: 9px 24px;
    font-size: 18px;
    font-weight: bold;
}

.btn-guardar:hover {
     background-color: #009E8C;
}
.shadow-box{
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}

.boton-custom {
      width: 320px;
      background-color: #39CBBB;
      border-color: #39CBBB;
      color: white;
      font-weight: bold;
      transition: background-color 0.3s ease, border-color 0.3s ease;
}

.table-section {
     background-color: #fff;
     border-radius: 12px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     padding: 20px;
}

.table-section h2 {
     color: #29867C;
     font-size: 24px;
     margin-bottom: 20px;
     text-align: center;
}

table {
     width: 100%;
     border-collapse: separate;
     border-spacing: 0;
     border-radius: 8px;
     overflow: hidden;
}

body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f7f6;
      color: #4b4b4b;
      margin: 0;
      padding: 0;
}

h1 {
      font-size: 2rem;
      color: #4B5C65;
}

h3{
    color: red;
    font-size: 18px;
}