<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Crear Nuevo Alumno</title>
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <link  th:href="@{/css/style_custom.css}" rel="stylesheet" />

    <!--Para el select2-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
<div layout:fragment="content">
    <h1 class="mt-3">Actualizar Alumno</h1>
    <div class="border border-2 rounded-4 p-3 custom-width margin-left mb-4 custom-padding-right mt-4 shadow-box">
        <form th:action="@{/alumnos/save}" th:object="${alumno}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="row space-between">
                <div class="col">
                    <div class="form-group mt-4">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del alumno" required/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mt-4">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" th:field="*{apellido}" id="apellido" placeholder="Escriba el apellido del alumno" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 mt-4">
                    <label for="grado" class="form-label">Grado:</label>
                    <select class="form-control" data-control="select2"  th:field="*{grado}" id="grado" required>
                        <option th:each="grado : ${grados}" th:value="${grado.id}" th:text="${grado.nombre}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col text-end mt-4">
                    <a th:href="@{/alumnos}" class="btn btn-cancelar me-3">Cancelar</a>
                    <button type="submit" class="btn btn-guardar">Modificar</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#grado').select2({
                placeholder: "Selecciona el grado de estudio",
                allowClear: true
            });

             // Ajustar la altura del Select2 para que coincida con los input
            $('.select2-selection--single').css({
                'height': 'calc(2.25rem + 2px)',
                'padding': '0.375rem 0.75rem',
                'line-height': '1.5',
                'border-radius': '0.25rem'
            });

            // Asegurar el borde y el radio del borde
            $('.select2-selection').css({
                'border': '1px solid #ced4da', // Borde igual al de Bootstrap
                'border-radius': '0.375rem' // Radio del borde igual al de Bootstrap
            });
        });
    </script>
</div>
</body>
</html>
