<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .margin{
            margin-top: 1rem !important;
            margin-right: 1rem !important;
            margin-bottom: 1rem !important;
            margin-left: 1rem !important;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de alumnos</h1>

    <div class="container">
        <div class="border rounded p-3">
            <form>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="nombre" class="form-label"><strong>Nombre:</strong></label>
                        <input type="text" class="form-control" id="nombre" placeholder="Escribe para buscar ...">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="apellido" class="form-label"><strong>Apellido:</strong></label>
                        <input type="text" class="form-control" id="apellido" placeholder="Escribe para buscar ...">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="grado" class="form-label"><strong>Grado:</strong></label>
                        <select class="form-select" id="grado">
                            <option selected>Seleccionar grado</option>
                            <option value="1">Grado 1</option>
                            <option value="2">Grado 2</option>
                            <option value="3">Grado 3</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="correo" class="form-label"><strong>Correo Electrónico:</strong></label>
                        <input type="email" class="form-control" id="correo" placeholder="Escribe para buscar ...">
                    </div>
                    <div class="col-md-4 col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn w-100 margin btn-primary buscar">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <a th:href="@{/alumnos/create}" class="btn btn-outline-primary">Nuevo Alumno</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Grado</th>
            <th>Mensualidad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${alumnos}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.grado.nombre}"></td>
            <td th:text="'$30'"></td>
            <td>
                <a th:href="@{/alumnos/details/{id}(id=${item.id})}" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/alumnos/edit/{id}(id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/alumnos/remove/{id}(id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:each="pagenumber : ${pageNumbers}">
                    <a class="page-link me-2" th:href="@{/alumnos(page=${pagenumber})}" th:text="${pagenumber}"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
